@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 230, 230) !important;
}

.herosection {
    background-image: url('/static/images/background.png');
    background-size: cover;
    padding: 12%;
}

.hero-title {
    padding-bottom: 1%;
}

.hero-subtitle {
    color: white;
    font-size: 24px;
}

.logo {
    width: 8%;
    height: auto;
    margin-right: 3%;
}

.brand-logo {
    font-size: 6vw;
    color: white;
}

.input-box {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    width: 85%;
    border: none;
}

.btn-cari {
    background-color: rgb(16, 35, 85);
    color: white;
    border-radius: 8px !important;
}

#AQcard {
    color: white;
}

.tutorial-sec {
    background-color: white;
    margin-top: -8%;
    margin-bottom: 8%;
    border-radius: 25px;
    padding: 4vh;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.26);
}

.tutorial-img {
    width: 80%;
}