{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid text-center herosection">
    <div class="row d-flex justify-content-center hero-title">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
        <h1 class="align-self-center brand-logo">AirBud</h1>
    </div>
    <p class="hero-subtitle">Deteksi kondisi udara disekitarmu</p>

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="city" class="mt-4 p-3 form-control" placeholder="Nama daerah" required>
        
                  <input type="submit" class="m-2 btn btn-primary" value="Cari" name="search">
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="exampleFormControlSelect1">State</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <optgroup label="Sumatera">
                <option>Aceh</option>
                <option>Sumatera Utara</option>
                <option>Sumatera Barat</option>
                <option>Sumatera Selatan</option>
                <option>Riau</option>
                <option>Bengkulu</option>
                <option>Lampung</option>
            </optgroup>
            
            <optgroup label="Jawa">
                <option>Jakarta</option>
                <option>Banten</option>
                <option>Yogyakarta</option>
                <option>Jawa Barat</option>
                <option>Jawa Tengah</option>
                <option>Jawa Timur</option>
                <option>Bali</option>
            </optgroup>

            <optgroup label="Kalimantan">
                <option>Kalimatan Barat</option>
                <option>Kalimatan Timur</option>
                <option>Kalimatan Tengah</option>
                <option>Kalimatan Utara</option>
                <option>Kalimatan Selatan</option>
            </optgroup>
        </select>
    </div> -->

    <!-- <a href="{% url 'result' %}" class="btn btn-primary">START</a> -->
</div>
{% endblock %}