{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Saran Anda</h1>

    <form action="/">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nama Anda</label>
          <input type="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Asal kota</label>
            <input type="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Saran</label><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}